html {
  font-family: monospace;
  font-size: 1.5rem;
  background-color: black;
  color: gray;
}

body {
  padding: 1rem;
}

h1 {
  margin-top: 0;
  color: white;
}

ul {
  list-style: none;
}

ul li::before {
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  font-size: 3em;
  margin-left: -1rem;
  margin-right: 1rem;
}

ul li.up::before {
  content: "✓";
  color: green;
}

ul li.down::before {
  content: "✗";
  color: red;
}
